.video-container {
	width: 100vw;
	height: 88vh;
	position: relative;

	& > video {
		width: 100%;
		height: 100%;
		object-fit: fill;
	}

	& > .motto {
		width: 20%;
		position: absolute;
		top: 25%;
		left: 12%;
		font-size: 1.5em;
		color: white;
		animation: slideInFromBottom 1.25s ease-in forwards;

		& > h1 > span {
			font-weight: 900;
		}

		& > h3 {
			margin-top: 1rem;
			font-size: 0.75em;
		}

		& > button {
			padding: 0.75rem;
			margin-top: 1rem;
			min-width: 12rem;
			width: 70%;
			font-size: 0.7em;
			font-weight: bold;
			text-transform: uppercase;
			color: white;
			border: 3px solid white;
			background: transparent;
			cursor: pointer;
		}

		& > button:hover {
			color: black;
			background: white;
		}
	}
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}
